**/.ipynb_checkpoints
**/__pycache__
deeptrack-app/*
*/datasets/*
paper-examples/models/*

build/*
dist/*
*.egg-info/
*/datasets/*
*/theory
_src/build/**/*

ParticleSizing
3DTracking
CellData
ParticleTracking
data/
datasets/
examples/**/*/models/
**/node_modules/
