trial*.ipynb

**/.ipynb_checkpoints
**/__pycache__
deeptrack-app/*

lightning_logs

paper-examples/models/*

build/*
dist/*
*.egg-info/
*/theory
_src/build/**/*

ParticleSizing
3DTracking
CellData
ParticleTracking
data/
examples/**/*/models/
**/node_modules/

*.tif
*.png 
*.jpg
*.jpeg
*.npy
*.db

.DS_Store