$primary-color: #e76f51;
$secondary-color: #264653;
$link-color: #cc59d2;
$header-height: 60px;
$margin-left: min(150px, calc(50vw - 250px));

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap");

$font: -apple-system, "Open Sans", sans-serif, serif;
$code-font: "Roboto Mono", monospace;

.root {
  font-family: $font;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  overflow: hidden;
}

// index.tsx

.main {
  height: calc(100vh - $header-height - 18px);
  width: 100vw;
  overflow: auto;
  margin: 0;
  overflow-x: hidden;
}

.background-square {
  background: linear-gradient(
    to top right,
    darken($primary-color, 10%),
    $primary-color
  );
  height: 900px;
  width: 900px;
  border-radius: 30px;
  position: absolute;
  transform: translateX(-150px) translateY(-400px) rotate(60deg);
}

// header.tsx

.header {
  background-color: white;
  height: $header-height;
  box-shadow: 0px 0px 8px 2px rgba($color: #000000, $alpha: 0.3);
  z-index: 1;
  position: sticky;
  padding-left: 20px;
  top: 0px;
  left: 0px;
  right: 0px;

  img {
    height: 60px;
    margin-top: -4px;
  }
}

// TitleCard.tsx

.title-card {
  color: white;
}

.title-title {
  position: absolute;
  top: 180px;
  font-size: 35px;
  letter-spacing: 2px;
  left: calc($margin-left + 40px);
  width: 500px;
  font-weight: 600;
}

// GetStartedCard.tsx

.get-started-card {
  $width: 750px;
  width: $width;
  height: 300px;
  background-color: white;
  color: $secondary-color;
  position: absolute;
  top: 350px;
  margin-left: $margin-left;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px rgba($color: #000000, $alpha: 0.3);

  .get-started-title {
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 30px;
  }

  .get-started-tabs {
    margin-left: 20px;
    margin-top: -10px;
    font-weight: 600;
  }

  .get-started-body {
    margin-left: 30px;
    margin-top: 10px;
  }

  .get-started-action {
    margin-left: 30px;
    position: absolute;
    bottom: 20px;
  }
}

// docpage.tsx

.api-wrapper {
  font-family: $font;
  font-size: 1.1em;
  margin-left: $margin-left;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  max-width: 1100px;
}

.api-toc-item-link {
  font-family: $code-font;
  color: $link-color;
  font-weight: 500;
  background-color: rgba($link-color, 0.1);
  // remove link underline
  text-decoration: none;
}

.api-toc-item-link:hover {
  // add link underline
  text-decoration: underline;
}

.api-title {
  font-size: 35px;
  font-weight: 5 00;
  margin-top: 20px;
  margin-bottom: 40px;
}

.api-subtitle {
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.api-classes {
  margin-top: 60px;
  margin-bottom: 20px;
}

.api-functions {
  margin-top: 60px;
  margin-bottom: 20px;
}

.title_reference {
  font-family: $code-font;
  color: $secondary-color;
  font-weight: 500;
}

.api-section {
  margin-top: 60px;
  margin-bottom: 20px;
  .title {
    background-color: $primary-color;
    border-top: darken($primary-color, 10%) 1px solid;
    border-bottom: darken($primary-color, 10%) 1px solid;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    // margin-bottom: 20px;
    padding: 10px;
  }
  li {
    border-bottom: darken($primary-color, 10%) 1px solid;
    padding: 10px;
    // remove list item marker
    list-style: none;

    .term {
      font-family: $code-font;
      color: $secondary-color;
      font-weight: 500;
      display: inline;
    }

    .classifier {
      font-family: $code-font;
      color: $secondary-color;
      font-weight: 500;
      display: inline;
      ::before {
        content: ": ";
      }
    }
    .definition {
      display: inline;
    }
    .definition > .paragraph {
      margin-left: 40%;
      margin-top: -1.2em;
    }
  }
  ul {
    padding: 0;
    margin: 0;
  }
}

.literal {
  display: inline;
  font-family: $code-font;
  font-weight: 500;
}

.system_message {
  display: none;
}

.problematic {
  display: inline;
}

.api-class-vis {
  margin-left: -61px;
  margin-right: -61px;
  pre {
    padding-left: 61px !important;
  }
  pre,
  code span {
    background-color: $secondary-color !important;
  }
}
